:root
{
    --main-color: #001025;
    --secondary-color: #00172D;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #989898;
    --sky-blue: #44C5FF;
    --btn-bg-color: linear-gradient(180deg, #06A7F1 0%, #006BA7 100%);
    --btn-text-color: #FFFFFF;
    --hover-color: #44c4ff41;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype-variations');
  font-weight: 300 800;
  font-stretch: 75% 100%;
}

.main-text-color{color: var(--main-text-color);}
.secondary-text-color{color: var(--secondary-text-color);}
.sky-blue{color: var(--sky-blue);}
.flex-centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}
p
{
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    text-align: center;

}
h1,
h2
{
    color: var(--main-text-color);
}
h2
{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}
.flex-column
{
    display: flex;
    flex-direction: column;
}
.btn
{
    padding: 16px 64px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    outline: none;
    border: none;
    border-radius: 12px;
    color: var(--btn-text-color);
    background: var(--btn-bg-color);
    cursor: pointer;
}
.info-text
{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: Light;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--sky-blue);
}
section
{
    padding: 0 112px;
}
.img-content.neon-light
{
    position: relative;
    width: 128px;
    height: 128px;
}
.neon-light::before{
    content: '';
    position: absolute;
    width: 96px;
    height: 96px;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--sky-blue);
    filter: blur(36px);
}


*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body
{
    background-color: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.logo
{
    width: 158px;
    height: 40px;
    margin: 40px;
}

.hero,
.skills,
.why-us,
.founder-quote,
.results,
.pricing
{
    gap: 32px;
}

.hero
{
    width: 100%;
    height: 100vh;
    background: url(../img/hero.png) no-repeat center;
    background-size: cover;
}

.hero h1
{
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
}
.hero p
{
    max-width: 576px;
}





.skills
{
    margin-bottom: 137px;
}
.skills-header
{
    max-width: 832px;
}
.skills .skills-header h2
{
    margin: 4px 0 24px 0;
    text-align: center;
}
.skills .skills-table
{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}
.skills .skills-table article
{
    max-width: 400px;
    width: 100%;
    min-height: 290px;
    border-radius: 24px;
    padding: 32px 64px;
    background: var(--secondary-color);
    gap: 14px;
    transition: .2s;
}
.skills .skills-table article:hover
{
    background-color: var(--hover-color);
}
.skills .skills-table article img
{
    position: relative;
    width: 100%;
    height: 100%;
}
.skills .skills-table article h3
{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: var(--sky-blue);
}
.skills .skills-table article p
{
    display: none;
}





.quote
{
    gap: 10px;
    padding: 64px 112px;
    background-color: var(--secondary-color);
}
.quote .info-text
{
    font-size: 18px;
}
.quote blockquote
{
    max-width: 1408px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}






.why-us
{
    padding: 160px 10px;
    margin: 0 auto; 
    flex-direction: row;
    flex-wrap: wrap;
}
.why-us .content
{
    gap: 24px;
    max-width: 687.5px;
}
.why-us .content .why-us-header,
.founder-quote .text-content .quote-header,
.results .results-header,
.pricing-header div
{
    gap: 4px;
}
/* .why-us .content p
{
    text-align: left;
} */
.why-us ul
{
    gap: 24px;
}
.why-us ul li
{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    background: var(--secondary-color);
    padding: 16px;
    gap: 16px;
    border-radius: 9999px;
    transition: .2s;
}
.why-us ul li:hover
{
    background-color: var(--hover-color);
}
.why-us ul li .img-content
{
    width: 64px;
    height: 64px;
    background-color: #02213A;
    border-radius: 50%;
}
.why-us ul li .text-content
{
    gap: 8px;
}
.why-us ul li .text-content h3
{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.why-us ul li .text-content p,
.results ul li article .text-content div p
{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}





.founder-quote
{
    max-width: 1696px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 48px;
    background-color: var(--secondary-color);
}
.founder-quote .img-content,
.founder-quote .img-content img
{
    width: 305px;
    height: 305px;
}
.founder-quote .text-content
{
    max-width: 880px;
    gap: 24px;
}
.founder-quote .text-content p
{
    text-align: left;
}


.results
{
    margin: 160px 0;
}
.results ul
{
    width: 100%;
    gap: 24px;
}
.results ul li
{
    gap: 26.5px;

}
.results ul li:nth-child(even)
{
    flex-direction: row-reverse
}
.results ul li article
{
    position: relative;
    max-height: 192px;
    max-width: 1120px;
    min-width: 500px;
    width: 75%;
    border-radius: 24px;
    gap: 24px;
    padding: 32px;
    background: var(--secondary-color);
    justify-content: normal;
    transition: .2s;
}
.results ul li:hover article
{
    background-color: var(--hover-color);
}
.results ul li article::after
{
    content: attr(data-step);
    position: absolute;
    right: 24px;
    top: 0;
    font-size: 256px;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 256px;
    line-height: 70%;
    letter-spacing: 0%;
    color: #02213A;
    z-index: 0;
}
.results ul li article > *
{
    z-index: 1;
}
.results ul li article .img-content
{
    width: 128px;
    height: 128px;
}
.results ul li article .img-content img
{
    width: 100%;
    height: 100%;
}
.results ul li article .text-content
{
    gap: 16px;
}
.results ul li article .text-content span
{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.results ul li article .text-content div
{
    gap: 8px;
}
.results ul li article .text-content div h3
{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.results ul li:nth-child(4) .arrow
{
    display: none;
}
.results ul li .arrow
{
    transition: .2s;
}
.results ul li:nth-child(even):hover .arrow
{
    transform: rotate(-10deg);
}
.results ul li:hover .arrow
{
    transform: rotate(10deg);
}





/* .pricing
{
} */
.pricing .pricing-header
{
    max-width: 832px;
    margin: 0 auto;
    gap: 24px;
}

.pricing .price-list 
{
    overflow-x: auto;
    gap: 32px;
    justify-content: flex-start;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
}
.pricing .price-list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.pricing .price-list article
{
    background-color: var(--secondary-color);
    max-width: 400px;
    min-width: 340px;
    width: 100%;
    border-radius: 24px;
    gap: 24px;
    padding: 32px;
    scroll-snap-align: center;
}

.pricing .price-list article .card-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing .price-list article .card-header h3
{
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
}
.pricing .price-list article .card-header span
{
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}
.pricing .price-list article ul li
{
    list-style: none;
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    line-height: 1.4;
}
.pricing .price-list article ul li::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    /* transform: translateY(-50%); */
    background-size: contain;
    background-repeat: no-repeat;
}

.pricing .price-list article ul li[type="yes"]::before
{
    background-image: url(../img/yes.svg);
    width: 15.5px;
    height: 15.5px;
}

.pricing .price-list article ul li[type="no"]::before
{
    background-image: url(../img/no.svg);
    width: 12px;
    height: 12px;
}

.pricing .price-list article .coming-soon
{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;

    padding: 16px 48px;
}



footer
{
    max-width: 832px;
    width: 100%;
    gap: 16px;
    padding: 32px;
    margin: 160px auto;
    background-color: var(--secondary-color);
    border-radius: 24px;
}
footer .btn
{
    border-radius: 12px;
    padding: 16px 40px;
    gap: 10px;
}













@media screen and (max-width: 768px) {
    section
    {
        padding: 0 24px;
    }
    .quote
    {
        gap: 8px;
        padding: 32px 64px;
    }
    .founder-quote
    {
        flex-direction: column-reverse;
        padding: 8px;
        gap: 16px;
    }
    .founder-quote .text-content,
    .results .results-header
    {
        text-align: center;
    }
    .results
    {
        gap: 12px;
        margin: 80px 0;
    }
    
    .results ul li article
    {
        width: 100%;
        min-width: 0;
        padding: 8px;
        gap: 8px;
    }
    .results ul li article .img-content
    {
        width: 72px;
        height: 72px;
    }
    .results ul li article::after
    {
        content: '';
    }
    .results ul li article .text-content
    {
        gap: 8px;
    }
    .results ul li article .text-content div
    {
        gap: 4px;
    }
    .results ul li .arrow
    {
        display: none;
    }
    footer
    {
        margin: 80px auto;
        max-width: 340px;
        padding: 8px 8px 16px 8px;
        gap: 8px;
    }
    footer h2
    {
        text-align: center;
    }
    footer p
    {
        font-size: 16px;
    }
}


@media screen and (max-width: 480px) {
    section
    {
        padding: 0 10px;
    }
    .btn
    {
        padding: 16px 40px;
        font-size: 16px;
    }
    .hero h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .hero p,
    .skills .skills-header p
    {
        max-width: 340px;
        font-size: 16px;
    }
    .skills
    {
        gap: 12px;
        margin-bottom: 80px;
    }
    .skills .skills-header h2
    {
        font-size: 24px;
        margin: 4px 0 12px 0;
    }
    .skills .skills-table
    {
        gap: 10px;
    }
    .skills .skills-table article
    {
        max-width: 165px;
        min-height: 204px;
        gap: 4px;
        padding: 8px;
    }
    .skills .skills-table article .img-content
    {
        width: 96px;
        height: 96px;
    }
    .img-content.neon-light::before
    {
        width: 72px;
        height: 72px;
    }
    .results .img-content.neon-light::before
    {
        width: 54px;
        height: 54px;
    }
    .skills .skills-table article p
    {
        display: block;
        color: var(--main-text-color);
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }

        
    .quote
    {
        gap: 8px;
        padding: 24px 10px;
    }
    .quote .info-text
    {
        font-size: 14px;
    }
    .quote blockquote
    {
        max-width: 340px;
        font-size: 20px;
    }

    .why-us
    {
        padding: 80px 10px;
        gap: 12px;
    }
    .why-us .content
    {
        text-align: center;
        gap: 12px;
    }
    .why-us .content h2
    {
        font-size: 24px;
    }
    .why-us ul li
    {
        border-radius: 24px;
        gap: 8px;
        padding: 8px;
    }
    .why-us ul li .img-content
    {
        width: 72px;
        height: 72px;
    }
    .why-us ul li .img-content img
    {
        width: 40.5px;
        height: 40.5px;
    }
    .why-us ul li .text-content
    {
        max-width: 244px;
    }

    .founder-quote .text-content
    {
        gap: 12px;
    }
    .founder-quote .text-content h2
    {
        font-size: 20px;
    }
    .founder-quote .text-content p
    {
        font-size: 16px;
        text-align: center;
    }
    .results ul
    {
        gap: 10px;
    }
    .pricing .price-list article
    {
        min-width: 300px;
        gap: 8px;
        padding: 8px;
    }
}